@{
    ViewBag.Title = "More Information";
}


<div class="col-sm-offset-4" style="font-size: 16px">
   <h3>Tools and frameworks used:</h3> 
    <ul>
        <li>Languages: 
            <ul>
                <li>C#, HTML5, CSS3</li>
            </ul>
        </li>
        <li>Frameworks: 
            <ul>
                <li>ASP.NET MVC 4, Razor, Bootstrap (frontend)</li>
            </ul>
        </li>
        <li>Tools: 
            <ul>
                <li>Visual Studio 2012 IDE</li>
            </ul>
        </li>
    </ul>
    <br/>
    <br/>
    <p style="color: red">For more information, email me - <a href="mailto:ronbnj@gmail.com?Subject=Your%20Portfolio" target="_top">Send email</a></p>
</div>
