@{
    ViewBag.Title = "Index";
}

<div class="col-lg-10 col-sm-offset-1">
    <h1>Small Book Library with Pseudo-Database</h1>
    <p class="lead">One of my projects at the Software Craftsmanship Guild was to work on a small book library. This project
        was assigned to us before we began working with databases. The instructor provided us with a skeleton pseudo-database
        in which entities stored model state. All models were called using a repository class from which we can fetch our data
        and pass it to and from the controller.
        <br/>
        <br/>
        Click on the <em>@Html.ActionLink("Book List", "Index", "Books")</em> link above to add, update, edit, or delete a book.
    </p>
</div>
